*{
    background: #38433b;
}

body {
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

canvas {
    border: 2px solid #000;
    border-radius: 5%;
    background-color: #FFF;
    display: block;
}

img {
    width: 200px;
    height: auto;
}

.rules {
padding: 5vw 4vh ;
color: #fff;
font-family: 'Arial', sans-serif;
margin: 15px auto;
}

.text-with-glow {
font-size: 24px;
color: #fff;
text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}